* {
  color: #dfd9d9;
  font-family: "Quicksand";
  background-color: #120633;
}

/* header section */
.navbar-text {
  font-weight: bold;
}

textarea {
  width: 100%;
  border: 3px solid #7538a6;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0;
}

.box {
  background-color: #120633;
  width: 46%;
  padding: 11px;
  border-radius: 10px;
  float: left;
  margin: 5px;
  border: 3px solid #7538a6;
}

.graph {
  overflow-x: scroll;
  max-height: 650px;
}

.box h2 {
  /* border-bottom: 1px solid rgb(229, 229, 229); */
  /* border-left: 1px solid rgb(244, 244, 244); */
  padding: 5px;
}

.box #result {
  background: #7538a6;
  color: #fff;
  padding: 5px;
  word-wrap: break-word;
}

/* table */
table {
  width: 100%;
  /* box-shadow: -3px 3px #808080; */
}

table,
th,
td {
  border-collapse: collapse;
}

table,
th {
  border-bottom: 2px solid white;
}

th,
td {
  padding: 10px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr {
  overflow: hidden;
  width: 20px;
}

table th {
  background-color: #7538a6;
  color: #fff;
}

.code {
  word-break: break-all;
}
/* end table */

/* Graph */

.node circle {
  fill: #fff;
  stroke: #dcdcdc;
}

.node text {
  color: white;
  font: 14px sans-serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
}
/* End graph*/

/*Media for small screens*/
@media all and (max-width: 800px) {
  .deCoder {
    width: 90%;
    float: left;
  }
  .enCoder {
    width: 90%;
    float: left;
  }
  .graph {
    width: 90%;
    float: left;
  }
}
